.moonfont {
    animation :moonrotate 30s linear infinite ;
}

@keyframes moonrotate {
    0% {
        transform: rotate(0deg) ;        
    }
    50% {
        transform: rotate(12deg);      
    }
    100% {
        transform: rotate(0deg);
    }
}

.lan3 {
    animation: lan3 10s ease-in-out infinite;
}
@keyframes lan3{
    0% {
        transform: translateY(50%) rotate(0deg);
    }
    50% {
        transform: translateY(0%) rotate(-12deg);
    }
    100% {
        transform: translateY(50%) rotate(0deg);
    }
}
.lan1 {
    animation: lan1 20s ease-in-out infinite;
}
@keyframes lan1{
    0% {
        transform: translateY(0%) rotate(8deg);
    }
    20% {
        transform: translateY(20%) rotate(0deg);
    }
    60% {
        transform: translateY(0%) rotate(-8deg);
    }
    80% {
        transform: translateY(20%) rotate(0deg);
    }
    100% {
        transform: translateY(0%) rotate(8deg);
    }
}
.lan2 {
    animation: lan2 15s ease-in-out infinite;
}
.lan4 {
    animation: lan1 15s ease-in-out infinite;
}
@keyframes lan2{
    0% {
        transform: translateY(20%) rotate(0deg);
    }
    20% {
        transform: translateY(0%) rotate(8deg);
    }
    60% {
        transform: translateY(20%) rotate(0deg);
    }
    80% {
        transform: translateY(0%) rotate(-8deg);
    }
    100% {
        transform: translateY(20%) rotate(0deg);
    }
}

.star1 { 
        animation: star1 100s linear infinite,
               opa1 30s ease-in-out infinite;
}
@keyframes star1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0%);
    }
} 
.star2 {
    animation: star2 100s linear infinite,
    opa2 50s ease-in-out infinite;
}
@keyframes star2 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}
.star3 {
    animation: star3 60s linear infinite,
    opa3 80s ease-in-out infinite;;
}
@keyframes star3 {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    60% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
} 

@keyframes opa1 {
    0%,20%,40%,60%,80%,100% 
    {
        opacity: 0;
    }
    10%,30%,50%,70%,90% 
    {
        opacity: 1;
    }
}
@keyframes opa2 {
    0%,20%,40%,60%,80%,100% 
    {
        opacity: 1;
    }
    10%,30%,50%,70%,90% 
    {
        opacity: 0;
    }
}
@keyframes opa3 {
    0%,20%,40%,60%,80%,100% 
    {
        opacity: 0;
    }
    10%,30%,50%,70%,90% 
    {
        opacity: 1;
    }
}